body{
    margin: 0;
    padding: 0;;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(22, 22, 22);
    color: white;
    text-shadow: 1.3px 1.3px 1.3px gray;
}
img{
    align-items: center;
    width: fit-content;
}
.lists{
    display: flex;
    justify-content: space-evenly;
}
.h1{
    display: block;
    margin: 150px auto 50px;
}
button{
    background-color: white;
    width: 150px;
    height: 55px;
    border-radius: 4px;
    font-size: 25px;
    text-shadow: 1px 1px 1px gray;
    box-shadow: 1.3px 1.3px rgb(66, 66, 66);
}